<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dekutteleconsult">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />

    <application
        android:name=".DekutTeleconsult"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/myAppTheme"
        android:usesCleartextTraffic="false"
        tools:targetApi="q">
        <activity android:name=".FinalVideoCallActivity"></activity>
        <activity
            android:name=".DocAllPrescriptionsActivity"
            android:label="All Prescriptions" />
        <activity android:name=".VideoCallControlActivity" />
        <activity android:name=".DownloadPrescriptionPDFActivity" />
        <activity
            android:name=".VideoCall2Activity"
            android:label="Video Call" />
        <activity
            android:name=".VideoCallActivity"
            android:label="Video Call" />
        <activity
            android:name=".DoctorChatActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AllDoctorsActivity"
            android:label="Available Doctors" />
        <activity
            android:name=".HelpActivity"
            android:label="HELP" />
        <activity
            android:name=".StudentViewPrescriptionActivity"
            android:label="View Prescriptions" />
        <activity
            android:name=".AddMedicineActivity"
            android:label="ADD PRESCRIPTION MEDICINE" />
        <activity
            android:name=".AddPrescriptionActivity"
            android:label="Prescribe" />
        <activity android:name=".DoctorDrawerActivity" />
        <activity android:name=".PayForConsultationActivity" />
        <activity android:name=".AllUsersActivity" />
        <activity android:name=".ChatListActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".EmergencyMapTrackActivity"
            android:label="Track Emergencies" />
        <activity
            android:name=".LoginWithActivity"
            android:label="Select Login Method" />
        <activity
            android:name=".DoctorsDashboardActivity"
            android:label="Doctor`s Dashboard" />
        <activity
            android:name=".PinSettingsActivity"
            android:label="PIN Settings" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".PinLoginActivity"
            android:label="PIN Login" />
        <activity
            android:name=".DoctorgetAllEmergenciesActivity"
            android:label="All Emergencies" />
        <activity
            android:name=".StudentVideoCallActivity"
            android:label="Video Call" />
        <activity
            android:name=".DoctorGivePrescriptionActivity"
            android:label="Give Prescription" />
        <activity
            android:name=".DeveloperActivity"
            android:label="Developer" />
        <activity android:name=".DoctorGetEmergencyTrackActivity" />
        <activity
            android:name=".UserprofileActivity"
            android:label="User Profile" />
        <activity
            android:name=".AllStudentChatListActivity"
            android:label="Recent Chats with Students" />
        <activity
            android:name=".StudentChatActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPasswordSuccessActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".SplashscreenActivity"
            android:label=" ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAsActivity"
            android:label="User Login" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".DoctorLoginActivity"
            android:label="User Login" />
        <activity
            android:name=".RegisterAsActivity"
            android:label="Select User Type" />
        <activity
            android:name=".StudentLoginActivity"
            android:label="User Login" />
        <activity
            android:name=".StudentPrescriptionActivity"
            android:label="MY Prescriptions" />
        <activity android:name=".MedicalHistoryActivity" />
        <activity android:name=".SelfAssessmentActivity" />
        <activity
            android:name=".ReportEmergencyActivity"
            android:label="Student Report Emergency" />
        <activity
            android:name=".ConsultViaActivity"
            android:label="Select Consultation Method" />
        <activity android:name=".StudentDrawerActivity" />
        <activity
            android:name=".DoctorSignupActivity"
            android:label="Create Account" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".StudentSignupActivity"
            android:label="Create Account" />

        <service
            android:name=".Service.StudentLocationTrackService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>